<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieMatrix</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
     <span class="Home">   <a href="https://localhost:5001" ><img id="Img" src="/assets/images/home-img.png" height=50 width=50/></a></span>

  
     
      <br><br><br><br>
        <h1>MovieMatrix</h1>
        <h4>find your next flick!</h4>
    </header>
    
    @RenderBody()
        
    <script src="~/js/site.js"></script>
</body>
</html>